html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}

.title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contacts-list {
  width: 700px;
  border: 2px solid black;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid red;
  height: 3rem;
  font-size: 25px;
  padding: 10px;
}

.profile-photos {
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.contact-names {
  margin-left: 20px;
}